.players-container {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding: 0 20px;
    .header {
        margin-top: 30px;
        text-align: center;
    }
    .empty-list {
        text-align: center;
        color: #4b1615cc;
    }
    &__names {
        padding-left: 40px;
        li {
            width: 100%;
            display: flex;
            justify-content: space-between;
            padding: 10px 0;
            border-bottom: 2px solid #4b1615;
        }
    }
    &__discard-icon {
        cursor: pointer;
    }
}