$mainRed: #4b1615;
$mainBeige: #fff4e9;
@mixin btn {
    background-color: $mainBeige;
    border: 3px solid $mainRed;
    border-radius: 10px;
    cursor: pointer;
    &:hover {
        background-color: $mainRed;
        color: $mainBeige;
    }
}

.players-container {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding: 0 20px;
    .empty-list {
        text-align: center;
        color: #4b1615cc;
    }
    &__names {
        padding-left: 40px;
        li {
            width: 100%;
            display: flex;
            justify-content: space-between;
            padding: 10px 0;
            border-bottom: 2px solid $mainRed;
        }
    }
    &__discard-icon {
        cursor: pointer;
    }
}