$mainRed: #4b1615;
$mainBeige: #fff4e9;

@mixin btn {
    background-color: $mainBeige;
    border: 3px solid $mainRed;
    border-radius: 10px;
    cursor: pointer;
    &:hover {
        background-color: $mainRed;
        color: $mainBeige;
    }
}

.warning {
    width: 300px;
    height: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $mainBeige;
    border: 3px solid $mainRed;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 20px;
    &__text {
        padding-bottom: 30px;
    }
    &__close-btn {
        width: 100%;
        padding: 10px;
        @include btn();
    }
}