@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');
$mainRed: #4b1615;
$mainBeige: #fff4e9;
@mixin btn {
    background-color: $mainBeige;
    border: 3px solid $mainRed;
    border-radius: 10px;
    cursor: pointer;
    &:hover {
        background-color: $mainRed;
        color: $mainBeige;
    }
}
* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    font-size: 16px;
}

body {
    background: url(./images/bg.png) no-repeat;
    background-position: bottom left; 
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    width: 96vw;
    margin: 0 auto;
    display: grid;
    justify-content: center;
    align-items: flex-start;
}
#root {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 0.2fr;
    row-gap: 15px;

}
.header {
    margin-top: 30px;
    text-align: center;
    font-size: 2rem;
}

.start-game-btn {
    grid-column: 1/3;
    width: 100%;
    padding: 20px;
    @include btn();
}

@media only screen and (max-width: 600px) {
    #root {
        width: 60vw;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 0.3fr 70px;
    }
    .header {
        margin-top: 10px;
        font-size: 1.5rem;
    }
    .start-game-btn {
        grid-column: 1/2;
    }
}

@media only screen and (max-width: 400px) {
    body {
        width: 90vw;
        margin: 0 auto;
    }
    #root {
        width: 90vw;
    }
}
